.contenedor-personaje {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 400px;
    }

    .contenedor-datos {
        width: 300px;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        margin-top: 10px;

        .titulo-dato {
            background-color: #101010;
            font-size: 30px;
            color: white;
            border-bottom: 1px solid black;
        }
        
        .info-dato {
            background-color: #1f1f1f;
            color: white;
        }
    }
}